.container {
    /*margin: 10px;*/

    border: 2px solid var(--accent-color);
    border-radius: var(--main-radius);

    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.span {
    font-size: 3em;
    font-weight: 700;

    color: var(--accent-color);
}

.spanSettings {
    font-size: 1.5em;
    font-weight: 700;

    color: var(--accent-color);
}

.spanSettingsError {
    font-size: 1.5em;
    font-weight: 700;

    color: var(--error-color);
}

.spanError {
    font-size: 4em;
    font-weight: 700;

    color: var(--error-color);
}