.inputContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.input {
    width: 150px;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    /*border: 2px solid var(--error-color);*/
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    outline: none;
}

.inputError {
    width: 150px;
    border: 2px solid var(--error-color);
    background-color: var(--error-background-color);
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    outline: none;
}

.inputContainer label {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1.5em;
}